<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} &ndash; NEW VIZ</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<style>

</style>


<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand"><img src="{% static 'icons/custom/new_ed_brand.png' %}"></a>

            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">

                <span class="icon-bar">fghfgh</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'start' %}"><img title='На главную' src="{% static 'icons/16x16/home.png' %}"></a></li>
                <li><a href="/createact/"><img title='Создать акт' src="{% static 'icons/16x16/add.png' %}"></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="themes">Придумать название<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                         {%  if user.is_authenticated %}
                        <li><a href="">1</a></li>
                        <li class="divider"></li>
                        <li><a href="">2</a></li>
                        {% endif %}
                    </ul>
                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                {%  if user.is_authenticated %}
                    <li><a href="/logout">Выйти, {{ user.username }}</a></li>
                    <li><a href="/createus" target="_blank"><img title='Создать User Story' src="{% static 'icons/16x16/bulb-2.png' %}"></a></li>

                {% else %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" id="themes">Войти<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li>
                                <form id="login_form" method="post" action="/login/">
                                    {% csrf_token %}
                                    Имя<input class="login_form" type="text" name="username" value="admin" size="15" />
                                    <br>
                                    Пароль<input class="login_form" type="password" name="password" value="8qsip937" size="15" />
                                    <br>

                                    <input type="submit" value="submit"/>
                                </form>


                            </li>

                        </ul>
                    </li>

                    <li><a href="#" target="_blank">Запрос на регистрацию</a></li>
                {% endif %}
            </ul>
            {%  if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/admin">Профиль</a></li>


                </ul>
            {% endif %}
        </div>
    </div>
</div>



<div class="container main-content">
    {% block content %}{% endblock %}
</div>







</body>
</html>
