<style>
    p{
        font-size: 20px;
    }
</style>


<table border="0" cellpadding="0" cellspacing="0" width="600px">

    <tr>
        <td>
            <center>
                <p> Акт № _________ от !ДАТА!</p>
                <p> о проведении работ</p>
            </center>

            <p>
                &nbsp &nbsp &nbsp &nbsp &nbspНастоящий акт составлен в том, что на оборудовании, принадлежащем ПАО "Аэрофлот", (тип) !ТИП!,
                с баркодом !БАРКОД!, находящемся в здании !ЗДАНИЕ!, комната !КОМНАТА!, подразделения !ДЕПАРТАМЕНТ!
            </p>


            <p>
                Задача Remedy: !ЗАДАЧА!
            </p>

        </td>
    </tr>
    <tr>
        <td>
            <br><br>
            <table border="1" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td><p>№</p></td>
                    <td><p>Наименование расходных материалов</p></td>
                    <td><p>Код изделия</p></td>
                    <td><p>Количество</p></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>!ТИП!</p></td>
                    <td><p>!РАСХОДКА!</p></td>
                    <td><p>1</p></td>
                </tr>
                <tr>
                    <td><p>2</p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                </tr>
                <tr>
                    <td><p>3</p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                </tr>
                <tr>
                    <td><p>4</p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                </tr>
                <tr>
                    <td><p>5</p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                </tr>
                <tr>
                    <td><p>6</p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                </tr>
                <tr>
                    <td><p>7</p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                </tr>
            </table>
            <br>
            Описание проведенных работ: Замена расходных материалов и комплектующих
        </td>

    </tr>
    <tr>
        <td>
            <br>
            <p><u>Все работы проводились в присутствии пользователя</u></p>
            <p>После проведения вышеуказанных работ, оборудование и ПО работают нормально, претензий и замечаний нетю</p>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="10" cellspacing="10" width="100%">
                <tr>
                    <td valign="center" align="center">
                        <br>
                        <p>Пользователь</p>

                        <p>!ПОЛЬЗОВАТЕЛЬ!</p>
                        <br>
                        <hr>
                    </td>
                    <td valign="center" align="center">
                        <br>
                        <p>Специалист отдела ТО</p>

                        <p>!СОТРУДНИК!</p>
                        <br>
                        <hr>
                    </td>
                </tr>
                </tr>
            </table>
    </tr>

</table>
